/* -------------------------- */
/* --- */ /* Blocks */ /* --- */
/* -------------------------- */


/* --- */ /* Title */ /* --- */

/* h2 */
.Title
{
    margin-top: 4vw;
    margin-bottom: 4vw;
    text-align: center;
    font-size: 30px;
    font-weight: 100;
}

/* --- */ /* wrapper */ /* --- */

/* wrapper flexbox */
.block-wrapper
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1vw;
    align-items: center;
    margin-right: 2vw;
    margin-left: 2vw;
}
.block-wrapper-type2
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5vw;
    width: 60%;
}
.block-wrapper-type3
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;
}
.block-wrapper-type4 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5vw;
}

.block-title
{
    font-size: 1.8vw;
    color: #db6227;
    margin-bottom: 2vw;
}

/* --- */ /* block-container , subTitle, text, images */ /* --- */

.block-container, .block-container-type5
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
    .block-container-type2 
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 75%;
        margin: 0 auto;
    }
    .block-container-type3, .block-container-type4, .block-container-type4-2
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }
    .block-container-type4-2
    {
        margin-bottom: 2vw;
    }
    .block-container-type5
    {
        justify-content: center;
    }

    .block-sub-title
    {
        font-size: 24px;
        color: #db6227;
        width: 80%;
        margin-bottom: 2vw;
    }
    .block-sub-title-type2
    {
        font-size: 24px;
        color: #db6227;
        margin-bottom: 2vw;
        text-align: center;
    }
    .block-sub-title-type3
    {
        font-size: 28px;
        color: #db6227;
        width: 80%;
        margin-bottom: 2vw;
    }
    .block-sub-title-type4
    {
        font-size: 28px;
        color: #db6227;
        width: 36%;
    }
    .block-sub-title-type5
    {
        font-size: 28px;
        color: #db6227;
        width: 80%;
        margin-bottom: 1.5vw;
    }

    /* text in block container */
    .block-text, .block-text-type4
    {
        color: black;
        font-size: 18px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 1.5vw
    }
        .block-text-type2
        {
            color: black;
            font-size: 18px;
            width: 100%;
            margin: 0 auto;
        }
        .block-text-type3
        {
            color: black;
            font-size: 24px;
            width: 60%;
            margin: 0 auto;
            text-align: justify;
            margin-bottom: 1.5vw;
        }
        .block-text-type4
        {
            font-weight: bold;
            font-size: 22px;
        }
        .block-text-information
        {
            margin: 0 auto;
            font-size: 22px;
            text-align: center;
        }

/* images and images container */
.block-container-images
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
    .block-container-imagesNtext
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 1vw;
    }

.block-sub-container-images
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    /* margin: 1vw; */
}

    .block-image
    {
        margin-bottom: 50px;
        justify-content: center;
    }

    .image-type1, .image-type2, .image-type4, .image-type5
    {
        width: 300px;
        border-radius: 8px;
        margin: 1vw;
    }
        .image-type2
        {
            width: 400px;
        }
        .image-type3
        {
            margin-right: 5%;
            height: 300px;
        }
        .image-type4, .image-type4-2
        {
            margin-left: 5%;
        }
        .image-type4-2
        {
            width: 400px;
        }
        .image-type5
        {
            width: 400px;
            height: 400px;
        }
        .image-type6
        {
            height: 300px;
            width: auto;
        }
        .image-type6-2
        {
            width: 400px;
            height: auto;
        }
        .image-type6-3
        {
            width: auto;
            height: 250px;
        }

    .image-block
    {
        border-radius: 8px;
    }
        .image-block-type2
        {
            width: 400px;
            border-radius: 8px;
        }

    .image-sub-title
    {
        font-size: 18px;
        font-weight: bold;
        color: #db6227;
        margin-bottom: 2vw;
        margin-top: 1vw;
    }


/* ----------------------------------- */
/* ---- */ /* Media Querries */ /* --- */ 
/* ----------------------------------- */
@media (max-width: 350px) 
{
    .block-wrapper 
    {
        margin-bottom: 6vw;
    }

    .image-block
    {
        width: 275px;
    }
    .block-sub-title 
    {
        padding-bottom: 4vw;
        margin: 0 auto;
    }
    .block-text
    {
        width: 90%;
    }
}


@media (max-width: 460px) 
{
    .block-wrapper
    {
        margin-bottom: 20vw;
    }
    .block-container-type2
    {
        margin-bottom: 4vw;
    }
    .block-sub-title
    {
        width: 95%;
    }
    .block-sub-title-type4 
    {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }
    .block-text-type3
    {
        text-align: center;
        margin-bottom: 10vw;
        margin-top: 10vw;
        width: 90%;
    }
    .image-block
    {
        width: 300px;
    }
    .image-block-type2 
    {
        width: 300px;
    }
    .image-type2
    {
        width: 300px;
    }
    .image-type5
    {
        width: 300px;
        height: 300px;
    }
    .image-type6
    {
        width: auto;
        height: 300px;
    }
    .image-type6-2
    {
        width: 300px;
        height: auto;
    }
}


@media (min-width: 461px)   /* till 768px */
{
    .Title
    {
        margin-top: 100px;
        margin-bottom: 8vw;
        text-align: center;
        font-size: 30px;
        font-weight: 100;
    }
    .block-wrapper
    {
        flex-direction: column;
        align-content: center;
        margin-bottom: 5vw;
    }
    .block-container
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 90%;
    }
    .block-container-type2 
    {
        width: 60%;
        margin-bottom: 2vw;
    }
    .block-container-type3 
    {
        flex-wrap: wrap;
    }
    .block-container-type4
    {
        flex-wrap: wrap-reverse;
    }
    .block-sub-title-type3 
    {
        margin-bottom: 2vw;
    }
    .block-container-images
    {
        justify-content: center;
    }
    .block-sub-container-images
    {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .image-block
    {
        width: 375px;
        margin: 0 auto;
    }
}


@media (min-width: 769px) /* till 1024px */
{
    .Title 
    {
        margin-top: 60px;
        margin-bottom: 30px;
    }
    .block-wrapper
    {
        margin-bottom: 1vw;
    }
    .block-container-type2 
    {
        width: 90%;
    }
    .image-block
    {
        width: 350px;
        margin: 1vw;
    }
    .image-block-type2 
    {
        width: 350px;
    }
    .block-sub-title-type2
    {
        margin-top: 5vw;
        margin-bottom: 5vw;
    }
    .image-type3
    {
        margin-right: 50px;
    }
    .image-type4
    {
        margin-left: 50px;
    }
    
}

@media (min-width: 1440px) 
{
    .image-block
    {
        width: 400px;
        margin: 1vw;
    }
    .image-block-type2 
    {
        width: 400px;
    }
}

@media (min-width: 1920px) 
{
    .Title 
    {
        margin-top: 4vw;
        margin-bottom: 1vw;
    }
    .image-block
    {
        width: 450px;
        margin: 1vw;
    }
    .image-block-type2 
    {
        width: 450px;
    }
}

@media (min-width: 2560px) 
{
    .block-container-type2 
    {
        width: 50%;
    }
    .image-block
    {
        margin: 1vw;
        width: 550px;
    }
    .image-block-type2 {
        width: 550px;
    }
}

@media (min-width: 2561px) 
{
    .block-container-type2 
    {
        width: 55%;
    }
    .image-block
    {
        margin: 1vw;
        width: 650px;
    }
    .image-block-type2 {
        width: 650px;
    }
}
