/* -------------------------- */
/* === */ /* FOOTER */ /* === */
/* -------------------------- */

.hrFooter {
    color: #db6227;
}


/* grille du footer */
.grid-footer 
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 0px;
}
    
.col1-footer { grid-area: 1 / 1 / 2 / 2; }
.col2-footer { grid-area: 1 / 2 / 2 / 3; }


/* logo footer */

.logo-footer
{
    width: 12vw;
    display: block;
    margin: 0 auto;
}

.text-footer
{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.2vw; 
}

/* icons réseaux sociaux */

.logo-rs-footer
{
    width: 2.5vw;
    margin: 1vw;
}

.icons-rs-footer
{
    text-align: center;
}

/* Map Google */

.googleMap
{
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto;
}

.MapGoogle
{
    width: 20vw;
}


/* ----------------------------- */
/* === */ /* COPYRIGHT */ /* === */
/* ----------------------------- */

.footer-copyright
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5vw;

    background-color: #db6227;
    padding: 0.3vw;
}

    .footer-copyright p
    {
        color: white;
        font-size: 1.2vw;
    }

.footer-copyright-1 { grid-area: 1 / 1 / 2 / 2; }
.footer-copyright-2 { grid-area: 1 / 2 / 2 / 3; }

    .footer-copyright-1, .footer-copyright-2
    {
        text-align: center;
    }
