/* -------------------------- */
/* === */ /* NavBar */ /* === */
/* -------------------------- */

.header {
    height: 100px;
    width: 100%;
    background-color: white;
    padding: 10px 0;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.btn-nav {
    padding: 6px 50px;
    color: black;
    text-decoration: none;
    outline: 0;
    font-size: 1.5vw;
    font-weight: bold;
    -moz-transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -webkit-transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -o-transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -ms-transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

    .btn-nav:hover {
        border: 1px solid #db6227;
        border-radius: 8px;
    }

/* Logo */

.logo {
    z-index: 900;
    position: relative;
}

.logo img {
    width: 12vw;
    height: 12vw;
}

/* DROP DOWN */

/* prestation */

.dropdown-item {
    position: relative;
    z-index: 1000;
    display: none;
    height: auto;
    width: 200px;
    border: 1px solid #db6227;
    border-radius: 8px;
    background-color: white;
}

.prestation {
    position: relative;
}

.prestation:hover .dropdown-item-1 {
    position: absolute;
    top: 30px;
    left: 0px;
    display: block;
}

.dropdown-item > div {
    position: relative;
    padding: 10px 10px;
    border-top: 1px solid #db6227;
}

.dropdown-item > div:first-child {
    border-top: none;
}

.dropdown-second {
    position: absolute;
    top: -1px;
    right: -200px;
}

.dropdown-second > div {
    border-left: none;
}

/* Professionnels, particulier, scolaire, etc... */

.pro, .particulier {
    transition: background-color 250ms ease-in-out;
    display: flex;
}

.pro:hover, .particulier:hover {
    background-color: rgba(219,98,39, 0.5);
}

/* .pro */

.pro > span {

    visibility: hidden;
    padding-left: 2%;

    transition: padding-left 250ms ease-in-out;
}

.pro:hover span {
    visibility: visible;
    padding-left: 30%;
}

.pro:hover .dropdown-second {
    display: block;
}


/* .particulier */

.particulier:hover .dropdown-second {
    display: block;
}

.particulier > span {
    visibility: hidden;
    padding-left: 2%;

    transition: padding-left 250ms ease-in-out;
}

.particulier:hover span {
    visibility: visible;
    padding-left: 42%;
}





.particulier:hover .dropdown-second {
    display: block;
}

.particulier:hover .dropdown-second {
    display: block;
}




/* .dropdown-item-1 */