/* h2 */
.TitreANTS
{
    margin-top: 5vw;
    margin-left: 14vw;
    margin-bottom: 4vw;
    font-size: 2vw;
    font-weight: 100;
}

/* wrapper flexbox */
.wrapperANTS
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

/* texte et images */

.containerTexteANTS
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
    .sousTitreANTS
    {
        font-size: 1.8vw;
        color: #db6227;
        margin-bottom: 2vw;
    }
    .texteANTS
    {
        font-size: 1.2vw;
    }

.containerImageANTS
{
    display: flex;
}
    .imageANTS
    {
        width: 15vw;
    }


/* ---- */ /* Media Querries */ /* --- */ 


@media (max-width: 768px) 
{
    .wrapperANTS 
    {
        flex-direction: column;
        align-content: center;
    }
    .containerImageANTS 
    {
        display: block;
        text-align: center;
    }
}


@media (min-width: 1920px) 
{
    .TexteANTS > p
    {
        font-size: 1.4vw;
    }

}

