.slick-slider-wrapper
{
  display: flex;
  justify-content: center;
  width: 1400px;
}

.slider-1-slick-container
{
  display: flex;
  justify-content: center;
  width: 1200px;
}

.slider-1-slick-items
{
  width: 200px;
  height: 200px;
  margin: 100px;
}

.slider-1-slick-images
{
  width: 200px;
  height: 200px;
  margin: 0;
}

/* MEDIA QUERIES */
@media (max-width: 1400px)
{
  .slick-slider-wrapper
  {
    width: 1000px;
    margin: 0 auto;
  }
  .slider-1-slick-container
  {
    width: 1000px;
    margin: 0 auto;
  }
  .slider-1-slick-items
  {
    width: 175px;
    height: 175px;
    margin: 75px;
  }
  .slider-1-slick-images
  {
    width: 175px;
    height: 175px;
  }
}

@media (max-width: 1200px)
{
  .slick-slider-wrapper
  {
    width: 800px;
    margin: 0 auto;
  }
  .slider-1-slick-container
  {
    width: 800px;
    margin: 0 auto;
  }
  .slider-1-slick-items
  {
    width: 150px;
    height: 150px;
    margin: 50px;
  }
  .slider-1-slick-images
  {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 850px)
{
  .slick-slider-wrapper
  {
    width: 600px;
    margin: 0 auto;
  }
  .slider-1-slick-container
  {
    width: 600px;
    margin: 0 auto;
  }
  .slider-1-slick-items
  {
    width: 100px;
    height: 100px;
    margin: 50px;
  }
  .slider-1-slick-images
  {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 650px)
{
  .slick-slider-wrapper
  {
    width: 400px;
    margin: 0 auto;
  }
  .slider-1-slick-container
  {
    width: 400px;
    margin: 0 auto;
  }
  .slider-1-slick-items
  {
    width: 100px;
    height: 100px;
    margin: 25px;
  }
  .slider-1-slick-images
  {
    width: 100px;
    height: 100px;
  }
  /* arrows sur les côtés */
  .slick-prev::before, .slick-next:before
  {
    display: none;
    color:#db632700;
  }
}

@media (max-width: 450px)
{
  .slick-slider-wrapper
  {
    width: 300px;
    margin: 0 auto;
  }
  .slider-1-slick-container
  {
    width: 300px;
  }
  .slider-1-slick-items
  {
    width: 50px;
    height: 50px;
    margin: 25px;
  }
  .slider-1-slick-images
  {
    width: 50px;
    height: 50px;
  }
}

/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */

.boutons-diagonale-container
{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.bouton-diagonale-1,
.bouton-diagonale-2 
{
  width: 300px;
  position: relative;
  padding: 10px 20px;

  font-size: 20px;
  text-decoration: none;
  color: white;
  background: #db6227;
}

.bouton-diagonale-1:after,
.bouton-diagonale-2:before 
{
  content: " ";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: #db6227;

  transform-origin: bottom left;
  -ms-transform: skew(-30deg, 0deg);
  -webkit-transform: skew(-30deg, 0deg);
  transform: skew(-30deg, 0deg);
  z-index: -1;
}

.bouton-diagonale-1 
{
  margin-right: 15px;
}
.bouton-diagonale-2 
{
  margin-left: 15px;
}

.bouton-diagonale-2:before 
{
  left: -27px;
}
.bouton-diagonale-1:after 
{
  left: 0;
}

.bouton-diagonale
{
  display: block;
  text-decoration: none;
  color: white;
  text-align: center;
  transform: skewx(0deg);
}












/* CONTACT */

.contact-wrapper
{
  display: flex;
  flex-direction:row;
  justify-content: center;

  width: 90%;
  margin: 0 auto;

  padding: 30px;

  border: 1px solid #db6227;
  border-radius: 40px;
}

.contact-container
{
  display: flex;
  flex-direction: column;
  margin-right: 5%;
}

.contact-sub-container
{
  display: flex;
  flex-direction: column;
}

/* informations de contact */
.contact-hr
{
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.contact-align-text
{

}

.contact-address
{
  /* margin-left: 38px; */
}

/* Vous êtes */
.contact-raisonSocial
{
  text-align: center;
}


/* formulaire */
.contact-container-inputs
{
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.contact-input
{
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #db6227;
  margin: 0.5vw;
  width: 300px;
}
.contact-textarea
{
  width: 600px;
  height: 150px;
  border-radius: 8px;
  border: 1px solid #db6227;
  margin: 0 auto;
}

.contact-submit-button
{
  color: white;
  background-color: #db6227;
  border: 1px solid #db6227;
  border-radius: 8px;
  padding: 8px;
  width: 50%;
  margin: 0 auto;
}

@media (max-width: 1280px)
{
  .contact-sub-container 
  {
    margin: 0 auto;
  }
}