.navbar 
{
height: 100px;
background-color: #fffdfd;
margin: 0;
}

    .navbar a 
    {
        text-align: center;
        float: left;
        font-size: 1vw;
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .navbar a:hover
    {
        background-color: #db632700;
        color:#db6227;
        border: solid 1px #db6227;
        border-radius: 8px;
    }

.dropdown 
{
    display: inline-block;
    text-align: center;
}

    .dropdown .dropbtn 
    {
        font-size: 1.5vw;    
        border: none;
        outline: none;
        color: #000000;
        padding: 14px 16px;
    }

    .dropdown:hover .dropbtn 
    {
        background-color: #db632700;
        color:#db6227;
        border: solid 1px #db6227;
        border-radius: 8px;
    }

.wrapper {
    display: none;
    height: auto;
}

.dropdown-one
{
    cursor: pointer;
    position: absolute;
    background-color: #ffffff00;
    color:#db6227;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 8px;
}

.dropdown-two 
{
    cursor: pointer;
    position: absolute;
    left: 250px;
    top: 0px;
    min-width: 200px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-one, #dropdown-menu1:hover > .wrapper-1, #dropdown-menu2:hover > .wrapper-2
{
    display: block;
    background-color: #ffffff;
    color:#db6227;
    border: solid 1px #db6227;
}

.dropdown-one .dItem 
{
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    display: block;
    text-align: left;
    border-radius: 8px;
}

.dropdown-one .dItem:hover, .dropdown-two a:hover 
{
    background-color: #db632700;
    color:#db6227;
    border: solid 1px #db6227;
}

.container 
{
    max-width: 800px;
    height: 400px;
    background-color: white;
    margin: 10px auto 0 auto;
}

#dropdown1-btn1 .dItem
{
    top: 0px;
}
#dropdown1-btn2 .dItem
{
    top: 43px;
}
#dropdown1-btn3 .dItem
{
    top: 90px;
}
#dropdown1-btn4 .dItem
{
    top: 150px;
}

#logo-TopNav
{
    width: 10vw;
    display:inline-block;
}