.TitreDrone
{
    margin-top: 8vw;
    margin-left: 14vw;
    margin-bottom: 4vw;
    font-size: 2vw;
    font-weight: normal;
    color:#db6227;
}

.ZoneVideoDrone 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.embedVideo
{
    padding: 20px 20px;
}

.ZoneLogoYoutube, .ZoneInfosDrone
{
    text-align: center;
    font-size: 1.2vw; 
}

.ZoneInfosDrone
{
    margin-top: 4vw;
    margin-bottom: 4vw;
    background-image: url("../assets/img/backgroundChamps.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.75;
    height: 20vw;
}   

.TexteInfosDrone
{
    padding-top: 4vw;
}

    .TexteInfosDrone > p
    {
        opacity: 1;
        margin: 2vw;
        font-weight: bold;
    }

    .TexteInfosDrone > p:hover
    {
        opacity: 1;
    }

.logoYoutubeRouge
{
    width: 6vw;
    transition: 250ms;
}

    .logoYoutubeRouge:hover
    {
        transform: scale(1.5, 1.5);
    }

.nomChaineYoutube
{
    font-weight: bold;
}

