/* h2 */
.TitreImpression3D
{
    margin-top: 100px;
    margin-left: 14vw;
    font-size: 26px;
    font-weight: 100;
}


/* wrapper flexbox */
.wrapperImpression3D
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.marginSection
{
    margin-top: 100px;
}


/* texte et images */
.containerImpression3D
{
    align-content: center;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row
}
    .sousTitreImpression3D
    {
        font-size: 22px;
        color: #db6227;
        margin-bottom: 2vw;
        margin: 0 auto;
        width: 70%;
        margin-bottom: 1vw;
    }
    .sousTitreGravureLaser 
    {
        font-size: 22px;
        color: #db6227;
        margin-bottom: 2vw;
        margin-left: 5vw;
        margin: 0 auto;
        width: 70%;
        margin-bottom: 1vw;
    }
    .texteImpression3D
    {
        font-size: 20px;
        width: 60%;
        margin-bottom: 5vw;
    }
    .texteGravureLaser
    {
        font-size: 20px;
        width: 60%;
        margin-left: 1vw;
    }
    .imageTexteImpression3D
    {
        width: 200px;
        height: 200px;
        padding-bottom: 2vw;
    }


.subContainerImpression3D
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.subContainerGravureLaser
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}


.containerImagesImpression3D
{
    display: flex;
    justify-content: center;
}
    .imageImpression3D
    {
        width: 24vw;
        margin: 2vw;
    }


.texteInformationImpression3D
{
    font-size: 20px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

/* ---- */ /* Media Querries */ /* --- */ 

@media (max-width: 425px)
{
    .TitreImpression3D
    {
        font-size: 22px;
    }
    .sousTitreImpression3D
    {
        font-size: 20px;
    }
    .subContainerImpression3D
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
    .texteImpression3D
    {
        font-size: 18px;
    }
    .imageImpression3D
    {
        width: 300px;
        margin: 2vw;
    }
    /*
        .hrCreationGraphique
        {
            width: 75%;
            height: 2px;
            border-radius: 8px;
            margin: 0 auto;
            margin-top: 50px;
            margin-bottom: 50px;
            background-color: #db6227;
            border: 0px;
        }
    */
}


@media (max-width: 768px) 
{
    .wrapperImpression3D
    {
        flex-direction: column;
        align-content: center;
    }

    .containerImpression3D
    {
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
    }

    .subContainerImpression3D
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
    }
        .imageTexteImpression3D
        {
            margin: 0 auto;
            margin-bottom: 40px;
        }

    .subContainerGravureLaser
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-content: center;
    }

    .containerImagesImpression3D
    {
        flex-direction: column;
        align-items: center;
    }
        .imageImpression3D
        {
            width: 350px;
            margin: 2vw;
        }
    
    .TitreImpression3D
    {
        font-size: 24px;
        text-align: center;
        margin-left: 0;
    }
    .sousTitreImpression3D
    {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .sousTitreGravureLaser
    {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .texteImpression3D, .texteGravureLaser
    {
        font-size: 20px;
        margin-top: 40px;
        margin-bottom: 40px;
        width: 80%;
    }

}


@media (min-width: 769px) 
{
    
}

