/* h2 */
.TitreSeanceStudio
{
    margin-top: 100px;
    margin-left: 14vw;
    font-size: 26px;
    font-weight: 100;
}


/* wrapper flexbox */
.wrapperSeanceStudio
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}


.marginSection2
{
    margin-top: 100px;
}


/* texte et images */
.containerSeanceStudio
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    margin-top: 40px;
}
    .sousTitreSeanceStudio
    {
        font-size: 22px;
        color: #db6227;
        margin-bottom: 2vw;
    }
    .texteSeanceStudio
    {
        font-size: 20px;
        text-align: center;
        width: 60%;
    }


.containerImagesSeanceStudio
{
    display: flex;
    justify-content: center;
}
    .imageSeanceStudio
    {
        width: 24vw;
        margin: 2vw;
    }


.texteInformationSeanceStudio
{
    font-size: 20px;
    text-align: center;
    width: 70%;
    margin-top: 100px;
}

/* ---- */ /* Media Querries */ /* --- */ 

@media (max-width: 425px)
{
    .TitreSeanceStudio 
    {
        font-size: 22px;
    }
    .sousTitreSeanceStudio 
    {
        font-size: 20px;
    }
    .texteSeanceStudio 
    {
        font-size: 18px;
    }
    .imageSeanceStudio
    {
        width: 300px;
        margin: 2vw;
    }
    .hrSeanceStudio
    {
        width: 75%;
        height: 2px;
        border-radius: 8px;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 50px;
        background-color: #db6227;
        border: 0px;
    }
}


@media (max-width: 768px) 
{
    .wrapperSeanceStudio 
    {
        flex-direction: column;
        align-content: center;
    }

    .containerSeanceStudio
    {
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
    }

    .containerImagesSeanceStudio 
    {
        flex-direction: column;
        align-items: center;
    }
        .imageSeanceStudio
        {
            width: 350px;
            margin: 2vw;
        }
    
    .TitreSeanceStudio 
    {
        font-size: 24px;
    }
    .sousTitreSeanceStudio 
    {
        font-size: 20px;
    }
    .texteSeanceStudio 
    {
        font-size: 16px;
    }

}


@media (min-width: 769px) 
{
    .texteSeanceStudio > p
    {
        font-size: 14px;
    }
}

